@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

.login{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(60deg,#f5f7f8,#495e57,#45474b);
    background-size: 200% 300%;
}
.wrapper{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.form{
    width: 300px;
    height: 400px;
    color: #f5f6fa;
    border-radius: 18px;
    padding: 20px 35px 3px;
}

.form h1{
    font-size: 36px;
    text-align: center;
}

.form .field{
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.form .field input{
    width: 100%;
    height: 60%;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
}

.form .lbtn{
    width: 40%;
    height: 40px;
    margin: 0 0 0 90px;
    background: #fff;
    color: #1A2130;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 576px) {
    .wrapper{
        width: 80%;
    }
    
    .form .field input{
        width: 80%;
    }

    .form .lbtn{
        margin-left: 70px;
    }
}
